<div class="d-flex justify-content-center flex-column align-items-center">
  @if (profile()) {
  <app-user-info [profile]="profile()" [isOwner]="isOwner()"></app-user-info>

    @if (isLoggedIn()) {
      <app-user-stats [profile]="profile()"></app-user-stats>
      <app-user-list></app-user-list>
    } @else {
    <div class="col-md-6 navigate-buttons mt-3">
      <button mat-raised-button color="accent" routerLink="/login">
        Најави се
      </button>
      <button mat-raised-button color="accent" routerLink="/register">
        Регистрација
      </button>
    </div>
    }
  } @else {
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  }
</div>