<div class="row gy-4">
  @if (profile()) {
  <div [class]="isOwner() ? 'col-12 col-lg-8' : 'col-12 col-md-10 offset-md-1'">
    <app-user-info [profile]="profile()" [isOwner]="isOwner()"></app-user-info>
  </div>

  @if (isOwner()) {
  <div class="col-12 col-lg-4">
    <div class="d-flex flex-column gap-4">
      <app-user-stats [profile]="profile()"></app-user-stats>
      <app-users-list></app-users-list>
    </div>
  </div>
  }


  @if (!isLoggedIn()) {
  <div class="col-12 navigate-buttons mt-3">
    <button mat-raised-button color="accent" routerLink="/login">
      Најави се
    </button>
    <button mat-raised-button color="accent" routerLink="/register">
      Регистрација
    </button>
  </div>
  }
  } @else {
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  }
</div>