.preview-img {
    position: relative;

    button {
        left: 184px;
        top: -11px;
        position: absolute;
        background: white;
        width: 26px;
        height: 26px;
        padding: 0;
        border: 1px solid black;
    }
}