<div class="d-flex justify-content-center mt-5">
    <mat-card class="p-4" style="width: 400px;">
        <h2 class="mb-4 text-center">Заборавена лозинка</h2>
        <p class="text-muted text-center mb-4">
            Внесете ја вашата електронска пошта и ќе ви испратиме линк за ресетирање на вашата лозинка.
        </p>

        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Имејл</mat-label>
                <input matInput formControlName="email" type="email" placeholder="you@example.com" />

                @if (forgotForm.controls.email.hasError('required')) {
                <mat-error>Имејлот е задолжителен.</mat-error>
                }
                @if (forgotForm.controls.email.hasError('email')) {
                <mat-error>Внесете валиден имејл.</mat-error>
                }
            </mat-form-field>

            <button mat-raised-button color="accent" class="w-100" type="submit"
                [disabled]="forgotForm.invalid || isSubmitting() || forgotForm.disabled">
                @if (isSubmitting()) {
                Се испраќа...
                } @else {
                Испрати линк за ресетирање
                }
            </button>
            <button matButton color="primary" class="w-100 mt-2" routerLink="/login">Назад кон најава</button>

        </form>
    </mat-card>
</div>